<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>  
	<h1> Bienvenidos al sitio de Surveys </h1>
	<h3> Create a survey </h3>
	<form action="/surveys/create" method="post">
	  <br>Survey:<br>
	  <input type="text" name="survey" value="Mickey"><br>
	  <input type="submit" value="Submit">
	</form>
  </body>
  <h3> Take a survey </h3>
  <form action="/surveys/update" method="post">
	  <br>Survey:<br>
	  <input type="text" name="survey" value="Mickey"><br>
	  <input type="submit" value="Submit">
	</form>
  </body>
</html>	